<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Disaster Predictor">
    <meta name="author" content="Vinayak Trivedi">

    <title>Resume - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">{{ data[0] }}</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename = 'img/'+data[0]+'.jpg') }}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">{{data[0]}}
          </h1>
          <ul>
            
            <li><h4>The Status of Flood is {{data[1]}}, and the risk level is {{data[2]}} </h4> </li>
            <li><h4>The Status of Tsunami is {{data[3]}}, and the risk level is {{data[4]}} </h4> </li>
            <li><h4>The Status of Earthquake is {{data[5]}}, and the risk level is {{data[6]}} </h4> </li>
            <li><h4>The Status of Rain is {{data[7]}}, and the risk level is {{data[8]}} </h4> </li>
            <li><h4>The Status of Cyclone is {{data[9]}}, and the risk level is {{data[10]}} </h4> </li>
            <li><h4>The Status of Storm is {{data[11]}}, and the risk level is {{data[12]}} </h4> </li>
            <li><h4>The Status of Hurricane is {{data[13]}}, and the risk level is {{data[14]}} </h4> </li>
            <li><h4>The Status of Landslide is {{data[15]}}, and the risk level is {{data[16]}} </h4> </li>
            <li><h4>The Status of Waves is {{data[17]}}, and the risk level is {{data[18]}} </h4> </li>
            <li><h4>The Status of Famine is {{data[19]}}, and the risk level is {{data[20]}} </h4> </li>
            <li><h4>The Status of Violence is {{data[21]}}, and the risk level is {{data[22]}} </h4> </li>
            <li><h4>The Status of Riot is {{data[23]}}, and the risk level is {{data[24]}} </h4> </li>
            
          </ul>
        </div>
      </section>

      

      

      

      

    

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename = 'vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js') }}" ></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename = 'js/resume.min.js') }}" ></script>

  </body>

</html>
